.onShow{
	background:url(../css/formValidator/onShow.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus{
	background:#E9F0FF url(../css/formValidator/onFocus.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
	background:#FFF2E9 url(../css/formValidator/onError.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onSuccess
{
	background:#E9FFEB url(../css/formValidator/onSuccess.gif) no-repeat; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
	background:#E9FFEB url(../css/formValidator/onLoad.gif) no-repeat 3px 3px; 
	padding-left:25px; 
	position:absolute;
	top:-4px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 

.formValidateTip
{
	/*word-wrap:break-word; 自动换行,在FF中对英文和数字无效*/
    position:absolute;
    /*width:250px;
    border:1px solid #a00;*/
    padding:10px;
    /*display:none; *//*我们先不要让它显示*/
	background:transparent;
}

.formValidateTip1
{
	/*word-wrap:break-word; 自动换行,在FF中对英文和数字无效*/
    position:absolute;
    /*width:250px;
    border:1px solid #a00;
    padding:10px;*/
    /*display:none; *//*我们先不要让它显示*/
	background:transparent;
}