@CHARSET "UTF-8";
.addCls {
    background-image:url(../images/add.gif) !important;
}
.editCls{
    background-image:url(../images/edit.png) !important;
}
.removeCls {
    background-image:url(../images/delete.gif) !important;
}
.searchCls {
    background-image:url(../images/search.jpg) !important;
}